<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <!-- Force latest available IE rendering engine and Chrome Frame (if installed) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Document Title & Description -->
        <title>{{settings.title}}</title>
        <meta name="description" content="{{@blog.description}}">

        <!-- Mobile Screen Resizing -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/ico" href="">

        <!-- MS Homescreen Icons -->
        <meta name="msapplication-TileColor" content="#0088cc">
        <meta name="msapplication-TileImage" content="img/ms-touch-icon.png">

        <!-- Announce the rss feed -->
         <link rel="alternate" type="application/rss+xml" title="{{@blog.title}} » Feed" href="/rss">

        <!-- stylesheet -->
        <link rel="stylesheet" href="/assets/css/ghostwire.css" type="text/css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

        <!-- HTML5 Shim for IE 6-8 -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body id="top" class="{{body_class}}">

        <!-- Old Browser Warning -->
        <!-- If you're supporting IE 6-7, remove this -->
        <!--[if lt IE 8]>
            <section class="container">
                Did you know that your web browser is a bit old? Some of the content on this site might not work right as a result. <a href="http://whatbrowser.org">Upgrade your browser</a> for a faster, better, and safer web experience.
            </section>
        <![endif]-->

        <header id="blog-header">
            <section class="inner-header">
                <a href="/" class="branding">
                    {{#if @blog.logo}}<figure style="background-image: url({{@blog.logo}})" alt="Logo" class="blog-logo"></figure>{{/if}}
                    <h1 class="blog-title">{{@blog.title}}</h1>
                </a>
                                
                <aside class="side-header">
                    <a class="top-link"><figure class="arrow"></figure></a>
                </aside>

            </section>
        </header>

 
        {{{body}}}
   

        <footer id="blog-footer">
            <aside class="share-header">
                <a href="#" target="_blank"><button class="btn btn-secondary twitter"><i class="fa fa-fw fa-twitter"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary facebook"><i class="fa fa-fw fa-facebook"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary google-plus"><i class="fa fa-fw fa-google-plus"></i></button>
                <a href="#" target="_blank"><button class="btn btn-secondary linkedin"><i class="fa fa-fw fa-linkedin"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary pinterest"><i class="fa fa-fw fa-pinterest"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary instagram"><i class="fa fa-fw fa-instagram"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary flickr"><i class="fa fa-fw fa-flickr"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary youtube"><i class="fa fa-fw fa-youtube-play"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary vimeo"><i class="fa fa-fw fa-vimeo-square"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary tumblr"><i class="fa fa-fw fa-tumblr"></i></button></a>
                <a href="#" target="_blank"><button class="btn btn-secondary rss"><i class="fa fa-fw fa-rss"></i></button></a>
            </aside>

            <section class="inner-footer">
                 <section class="copyright">&copy; 2013 <a href="/">{{@blog.title}}</a> &bull; All rights reserved.
             <br class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghostwire</a>.</section>
            </section>
        </footer>


        <!-- The Ghost footer helper will insert some shared javascript libraries and files required by plugins -->
        {{ghost_foot}}

        <!-- Javascript -->
        <!-- In the footer for better performance -->
        <script src="/assets/js/ghostwire.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- (Via HTML5 Boilerplate: http://html5boilerplate.com/) -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>
</html>
